beautifulsoup4==4.12.2
datasets==2.16.1
langchain==0.1.5
langchain-community==0.0.17
langchain-core==0.1.19
octoai-sdk==0.2.0
pinecone-datasets==0.6.2
pinecone-client
playwright==1.40.0
python-dotenv==1.0.0
tiktoken==0.5.2
transformers==4.37.2
torch==2.2.0